//scss-lint:disable NestingDepth
// bower:scss
// endbower

.prospero {

  // Font details
  $font-size: 16px;
  $line-height: 1.3;
  $font-body: normal normal normal #{$font-size}/#{$line-height} RobotoLight, "Helvetica Neue", Arial, Helvetica, sans-serif;
  // Colours
  $bg: #3bc1f5;
  $black: #000;
  $white: #fff;
  $para: $white;
  $para-bg: $black;
  $media-bg: #899394;
  // Layout
  $padding: 2em;
  $para-width: 640px;
  $min-width: 320px;
  $max-height: 550px;

  .overlay {
    background: $bg;
    box-shadow: 0 0 1em 0 transparentize($black, .2);
    display: table;
    font: $font-body;
    position: relative;
    .content { max-width: $para-width; }
    .content-small { max-width: $para-width * .5; }

    .sidebar {
      background: $bg;
      display: table-cell;
      height: 100%;
      text-align: center;
      vertical-align: top;
      width: $para-width * .25;
    }

    .sidebar-small { width: $para-width * .125; }

    .content-bar {
      display: table-cell;
      height: 100%;
      max-width: $para-width;
      vertical-align: middle;
      &.text-only { background: $black; }
    }

    .content-bar-small { max-width: $para-width * .5; }

    .para {
      background: $para-bg;
      color: $para;
      display: block;
      height: auto;
      margin: 0;
      padding: 0 $padding $padding;
      &:nth-of-type(1) { padding: $padding; }

      &.video-text {
        margin-top: $padding * -2.25;
        padding-top: $padding * 2;
      }
    }

    .para-small {
      font-size: 85%;
      padding: 0 $padding * .85 $padding * .85;
      &:nth-of-type(1) { padding: $padding * .85; }

      &.video-text {
        margin-top: $padding * -1.2;
        padding-top: $padding;
      }
    }

    .media {
      box-sizing: border-box;
      max-height: $max-height;
      max-width: $para-width;
      padding: $padding;
      text-align: center;
    }

    .media-small {
      max-height: $max-height * .5;
      max-width: $para-width * .5;
      padding: $padding * .5;
    }

    .close {
      color: $para;
      cursor: pointer;
      font-size: $font-size * 1.5;
      font-weight: bold;
      padding: $padding * .1 $padding * .2;
      position: absolute;
      right: 0;
      top: 0;
    }

    .close-small {
      font-size: $font-size;
      padding: $padding * .05 $padding * .1;
      right: 0;
      top: 0;
    }

    .icon {
      height: 100px;
      margin-bottom: -1.2em;
      margin-top: $padding;
      width: 100px;
    }

    .icon-small {
      height: 50px;
      margin-bottom: -.6em;
      margin-top: $padding * .5;
      width: 50px;
    }

    .avatar {
      border: solid $para .5em;
      border-radius: 50px;
      height: 75px;
      margin-top: $padding;
      width: 75px;
    }

    .avatar-small {
      border-radius: 25px;
      border-width: .25em;
      height: 40px;
      margin-top: $padding * .5;
      width: 40px;
    }

    .subtitle {
      color: $para;
      font-size: $font-size * 1.1;
      font-weight: bold;
      line-height: 1.1;
      margin: $padding * .25;
      margin-bottom: $padding;
    }

    .subtitle-small {
      font-size: 75%;
      margin: $padding * .125;
      margin-bottom: $padding * .5;
    }
  }
}
