<div class="overlay">
  <div class="sidebar sidebar-{{size}}">
    {{#if avatar}}<img class="avatar avatar-{{size}}" src="{{host}}/images/75x75/{{avatar}}" />{{/if}}
    {{#if name}}<div class="subtitle subtitle-{{size}}">{{name}} says:</div>{{/if}}
  </div>
  <div class="content-bar content-bar-{{size}}">
    {{#if close}}<div class="close" data-prospero-close>&times;</div>{{/if}}
    {{#if video}}<video id="prospero-video-{{index}}" class="media media-{{size}}" poster="{{host}}/images/720x/{{video}}.jpg" src="{{host}}/uploads/{{video}}.mp4" controls></video>{{/if}}
    {{#if audio}}<audio id="prospero-audio-{{index}}" class="media media-{{size}}" src="{{host}}/uploads/{{audio}}.mp3" controls></audio>{{/if}}
    {{#if text}}<span class="para para-{{size}} video-text">{{text}}</span>{{/if}}
  </div>
</div>
