<div class="overlay">
  <div class="content content-{{size}}">
    {{#if close}}<div class="close close-{{size}}" data-prospero-close>&times;</div>{{/if}}
    {{#if text}}<span class="para para-{{size}}">{{text}}</span>{{/if}}
  </div>
</div>
