<div class="overlay">
  <div class="sidebar sidebar-{{size}}">
    {{#if avatar}}<img class="avatar avatar-{{size}}" src="{{host}}/images/75x75/{{avatar}}" />{{/if}}
    {{#if name}}<div class="subtitle subtitle-{{size}}">{{name}} says:</div>{{/if}}
  </div>
  <div class="content-bar content-bar-{{size}} text-only">
    {{#if close}}<div class="close close-{{size}}" data-prospero-close>&times;</div>{{/if}}
    {{#if text}}<span class="para para-{{size}}">{{text}}</span>{{/if}}
  </div>
</div>
