<div class="overlay">
  <div class="content content-{{size}}">
    {{#if close}}<div class="close close-{{size}}" data-prospero-close>&times;</div>{{/if}}
    {{#if video}}<video id="prospero-video-{{index}}" class="media media-{{size}}" poster="{{host}}/images/720x/{{video}}.jpg" src="{{host}}/uploads/{{video}}.mp4" controls></video>{{/if}}
    {{#if audio}}<audio id="prospero-audio-{{index}}" class="media media-{{size}}" src="{{host}}/uploads/{{audio}}.mp3" controls></audio>{{/if}}
    {{#if text}}<span class="para para-{{size}} video-text">{{text}}</span>{{/if}}
  </div>
</div>
