<div class="overlay">
  <div class="sidebar sidebar-{{size}}">
    <svg class="icon icon-{{size}}" viewBox="0 0 2048 2048" xmlns="http://www.w3.org/2000/svg">
      <path d="M1984 1280q0 159-112.5 271.5t-271.5 112.5h-1088q-185 0-316.5-131.5t-131.5-316.5q0-132 71-241.5t187-163.5q-2-28-2-43 0-212 150-362t362-150q158 0 286.5 88t187.5 230q70-62 166-62 106 0 181 75t75 181q0 75-41 138 129 30 213 134.5t84 239.5z" fill="#fff"/>
    </svg>
    <div class="subtitle subtitle-{{size}}">Thought</div>
  </div>
  <div class="content-bar content-bar-{{size}} text-only">
    {{#if close}}<div class="close close-{{size}}" data-prospero-close>&times;</div>{{/if}}
    {{#if text}}<span class="para para-{{size}}">{{text}}</span>{{/if}}
  </div>
</div>
